#map { position: absolute;
 		top: 0;
 		bottom: 0;
 		width: 100%;
 		height: 100%; }


#map-shrunk {
	position: absolute;
 	width: 60%;
 	height: 100%;
}


.time-svg {
  position: absolute;
}

.cost-svg {
  position: absolute;
}

.bar {
        fill: steelblue;
    }

